# @author kongweiguang
[Desktop Entry]
Type=Application
Name=gmark
Comment=Native Markdown and large text editor built with Rust and GPUI
Exec=gmark %F
Icon=com.kongweiguang.gmark
Terminal=false
Categories=Office;TextEditor;Utility;
MimeType=text/markdown;text/x-markdown;text/plain;application/json;application/x-ndjson;text/csv;text/tab-separated-values;
StartupNotify=true
StartupWMClass=com.kongweiguang.gmark
